@import "styles/_base.scss";

.custom-table {
  border: solid 2px $gray;
  width: 100%;
  th, td {
    padding: 10px;
  }
  th {
    background-color: $gray-dark;
    color: white;
  }
  & tr:nth-child(even) {
    background-color: $gray-lighter;
  }
  & tr:nth-child(odd) {
    background-color: $gray-light;
  }
}
