@import "styles/_base.scss";

.custom-table {
  width: 100%;
  th, td {
    padding: 10px;
  }
  th {
    background-color: $gray-darker;
    color: white;
  }
  & tr:nth-child(even) {
    background-color: $gray-light;
  }
  & tr:nth-child(odd) { 
    background-color: $gray;
  }
}
